<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>饭饭之交注册界面</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
  </head>
<body>

<script src="@{layui/layui.js}"></script>
<!--    <img src="./lastlogo.png" width="400" height="150" />-->
<style>
.demo-reg-container{width: 320px; margin: 50px auto 0;margin-right: 150px;}
.demo-reg-other .layui-icon{position: relative; display: inline-block; margin: 0 2px; top: 2px; font-size: 26px;}
</style>
<form class="layui-form" action = "submitRegister" method = "post">
  <div class="demo-reg-container">
    <div class="layui-form-item">
      <div class="layui-row">
    <div class="layui-form-item">
      <div class="layui-input-wrap">
        <div class="layui-input-prefix">
          <i class="layui-icon layui-icon-password"></i>
        </div>
        <input type="password" name="register_password" value="" lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input" id="reg-password" lay-affix="eye">
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-wrap">
        <div class="layui-input-prefix">
          <i class="layui-icon layui-icon-password"></i>
        </div>
        <input type="password" name="register_confirmPassword" value="" lay-verify="required|confirmPassword" placeholder="确认密码" autocomplete="off" class="layui-input" lay-affix="eye">
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-wrap">
        <div class="layui-input-prefix">
          <i class="layui-icon layui-icon-username"></i>
        </div>
        <input type="text" name="register_nickname" value="" lay-verify="required" placeholder="昵称" autocomplete="off" class="layui-input" lay-affix="clear">
      </div>
    </div>
    <div class="layui-form-item">
      <input type="checkbox" name="register_agreement" lay-verify="required" lay-skin="primary" title="同意">
      <a th:href="@{privacyPolicy}" target="_blank" style="position: relative; top: 6px; left: -15px;">
        <ins>用户协议</ins>
      </a>
    </div>
    <div class="layui-form-item">
      <button class="layui-btn layui-btn-warm layui-btn-fluid" lay-submit lay-filter="demo-reg">注册</button>
    </div>
    <div class="layui-form-item demo-reg-other">
      <a th:href="@{login}">登录已有帐号</a></span>
    </div>
  </div>
</form>
<script>
layui.use(function(){
  var $ = layui.$;
  var form = layui.form;
  var layer = layui.layer;
  var util = layui.util;

  // 自定义验证规则
  form.verify({
    // 确认密码
    confirmPassword: function(value, item){
      var passwordValue = $('#reg-password').val();
      if(value !== passwordValue){
        return '两次密码输入不一致';
      }
    }
  });

  // 提交事件
    form.on('submit(demo-reg)', function(data) {
    return true;
  }
<!--  form.on('submit(demo-reg)', function(data){-->
<!--    var field = data.field; // 获取表单字段值-->

<!--    // 是否勾选同意-->
<!--    if(!field.register_agreement){-->
<!--      layer.msg('您必须勾选同意用户协议才能注册');-->
<!--      return false;-->
<!--    }-->

<!--    // 成功便显示-->
<!--    layer.alert("注册成功！");-->
<!--    // 此处可执行 Ajax 等操作-->
<!--    // …-->
<!--    var loadIndex = layer.msg("注册中", {-->
<!--        icon: 16,-->
<!--        shade: 0.01-->
<!--      });-->

<!--    $.ajax({-->
<!--       type: "POST",-->
<!--       url: "../register",-->
<!--       contentType: "application/json",-->
<!--       data: JSON.stringify(field),-->
<!--       success: function(msg) {-->
<!--         layer.alert(msg);-->
<!--         layer.close(loadIndex);-->
<!--       }-->
<!--    });-->
<!--    return false; // 阻止默认 form 跳转-->
<!--  });-->

});
</script>
</body>
</html>